<h1 class="center title">Liste des garages</h1>

<div class="listGarages">
  <ul class="list-group">
    <li class="list-group-item pointer" *ngFor="let garage of garages" routerLink="/garage/{{garage.idGarage}}">
      <span class="badge badge-info">{{garage.nbVoiture}}</span> {{garage.nomGarage}}
    </li>
    <li class="list-group-item pointer noGarage" *ngIf="voitures" routerLink="/garage/noGarage">
      <span class="badge badge-secondary">{{voitures.length}}</span> Voiture(s) sans garage
    </li>
  </ul>
</div>
<div class="center">
  <button (click)="showAddGarageClick()" class="btn btn-success"><i class="fas fa-home"></i> Ajouter un garage</button>
  <button (click)="showAddVoitureClick()" class="btn btn-success"><i class="fa fa-car"></i> Ajouter une voiture</button>
  <button (click)="showMarqueClick()" class="btn btn-success"><i class="fa fa-car"></i> Voir les marques</button>

  <app-add-garage *ngIf="showAddGarage" (newGarage)="ngOnInit()"></app-add-garage>
  <app-add-voiture *ngIf="showAddVoiture" [data]="{marques: marques, garages: garages}" (newVoiture)="ngOnInit()"></app-add-voiture>
  <app-show-marque *ngIf="showMarque" [marques]="marques" (add)="getAllMarques()" (remove)="ngOnInit()"></app-show-marque>
</div>