<div *ngIf="voiture">

	<h2>{{voiture.nomMarque}} {{voiture.model}}</h2>

	<form (ngSubmit)="onSubmit()" #editVoitureForm="ngForm">
		<div class="form-group">
			<label for="dateImmat">Date immatriculation</label>
			<input [(ngModel)]="voiture.dateImmat" type="text" class="form-control" name="dateImmat" id="dateImmat" readonly>
		</div>
		<div class="form-group">
			<label for="Garage">Garage</label>
			<select [(ngModel)]="voiture.idGarage" class="form-control" name="Garage" id="Garage" required>
				<option *ngFor="let garage of garages" [ngValue]="garage.idGarage">{{garage.nomGarage }}</option>
				<option value="aucun">Aucun</option>
			</select>
		</div>
		<div class="form-group">
			<label for="Couleur">Couleur</label>
			<input [(ngModel)]="voiture.couleur" type="text" class="form-control" name="Couleur" id="Couleur" required>
		</div>
		<div class="form-group">
			<label for="Plaque">Plaque</label>
			<input pattern="[A-Za-z]{2}[0-9]{3}[A-Za-z]{2}" placeholder="AB123CD" [(ngModel)]="voiture.plaque" type="text" class="form-control"
			 name="Plaque" id="Plaque" required>
		</div>
		<div class="form-group">
			<label for="Km">Km</label>
			<input min="0" max="1000000000" step="1" [(ngModel)]="voiture.km" type="number" class="form-control" name="Km" id="Km"
			 required>
		</div>
		<div class="form-group">
			<label for="Prix">Prix</label>
			<input type="number" min="0.00" max="1000000.00" step="0.01" [(ngModel)]="voiture.prix" type="number" class="form-control"
			 name="Prix" id="Prix" required>
		</div>
		<button type="submit" [disabled]="!editVoitureForm.form.valid" class="btn btn-success"><i class="fas fa-pen"></i>
			Modifier</button>
		<button (click)="delete()" [disabled]="!voiture.idVoiture" class="btn btn-danger"><i class="fas fa-trash-alt"></i>
			Supprimer</button>
	</form>
</div>