<div *ngIf="garage">
  <h1>{{garage.nomGarage}}</h1>
  <p>
    Adress : {{garage.adresseGarage}}, {{garage.cpGarage}}, {{garage.villeGarage}}
  </p>
  <p *ngIf="garage.telGarage">
    tel : {{garage.telGarage}}
  </p>
  <p *ngIf="garage.mailGarage">
    mail : {{garage.mailGarage}}
  </p>
  <button (click)="goBack()">go back</button>
  <p>Voitures : </p>
  <div *ngIf="voitures">
    <ul>
      <li *ngFor="let voiture of voitures">{{voiture.nomMarque}} {{voiture.model}} - {{voiture.couleur}} -
        {{voiture.dateImmat}} -
        {{voiture.plaque}} - {{voiture.km}} Km</li>
    </ul>
  </div>
</div>