<h1 class="garageName" *ngIf="garage"><button (click)="goBack()" class="retour btn btn-outline-dark"><i class="fas fa-chevron-left"></i>
		Retour</button>{{garage.nomGarage}}</h1>
<h1 class="garageName" *ngIf="!garage"><button (click)="goBack()" class="retour btn btn-outline-dark"><i class="fas fa-chevron-left"></i>
		Retour</button>Voitures
	sans garage</h1>
<div class="row">
	<div class="col-sm">
		<div class="garageInfo" *ngIf="garage">
			<div class="line">
				<div class="lineInfo">Adress : </div>{{garage.adresseGarage}}, {{garage.cpGarage}}, {{garage.villeGarage}}
			</div>
			<div class="line">
				<div class="lineInfo">Télephone : </div>{{garage.telGarage}}
			</div>
			<div class="line">
				<div class="lineInfo">Mail : </div>{{garage.mailGarage}}
			</div>
			<div class="line">
				<div class="lineInfo">Nombre de places : </div>{{garage.nbVoitureMax}}
			</div>
			<button (click)="suppGarage()" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer le garage</button>
			<button (click)="showEditGarageClick()" class="btn btn-warning"><i class="fas fa-pen"></i> Modifier le garage</button>
		</div>
	</div>
	<div class="col-sm">
		<app-garage-edit *ngIf="showEditGarage" [garage]="newGarage" (edited)="ngOnInit()"></app-garage-edit>
	</div>
</div>
<hr>
<div class="row voitures">
	<div class="col-sm">
		<h2>Voitures : </h2>
		<div *ngIf="voitures">
			<div class="noVoiture" *ngIf="voitures.length === 0">Pas de voitures dans le garage</div>
			<ul class="list-group">
				<li class="list-group-item pointer" *ngFor="let voiture of voitures" [ngClass]="voiture.idVoiture === selectedVoiture.idVoiture ? 'selectedVoiture':'inactive'"
				 (click)="onSelect(voiture)">
					<i class="fas fa-car"></i> {{voiture.nomMarque}} {{voiture.model}} -
					{{voiture.plaque}} - {{voiture.dateImmat}}

				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm">
		<app-voiture-edit *ngIf="selectedVoiture" [voiture]="selectedVoiture" (edited)="ngOnInit()"></app-voiture-edit>
	</div>
</div>